
body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  margin-top: 0;
}

.App {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
}


.main-navbar {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}
.navbar-brand{
  justify-self: center

}

.nav-search-input {
  width: 95%;
  padding: 8px;
  margin-top: 10px;
}

.movie-meta-row{
  display: flex;
  justify-content: space-between;

}
.meta-label{
 font-size: large;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.movie-card {
  width: 200px;
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.card-img {
  width: 100%;
  height: auto;
}





.seats-container {
  margin-top: 20px;
  border: 1px solid #000;
  padding: 15px;
}

.seats-grid {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}


.seat-box {
  width: 40px;
  height: 40px;
  background-color: #ff0000; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #000;
}


.seat-box.selected {
  background-color: #00ff00; 
}


.screen-line {
  height: 5px;
  background: #555;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.status-indicators {
  font-size: 12px;
  margin-bottom: 10px;
}

.summary-box {
  background-color: #ffffcc;
  padding: 10px;
  border: 1px dashed #000;
  margin-top: 15px;
}

.details-page-wrapper{
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.movie-detail-card{
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  gap: 25px;
}

.detail-img{
  width: 100%;
  border-radius: 8px;
  display: block;
}
button{
  background-color: yellow;
  border-radius: 12px;
  margin-top: 15px;
}

button:hover{
  background-color: #ec971f;
}


.stat-item{
  margin-bottom: 8px;
}

.detail-title{
  margin-top: 0;
  font-size: 24px;


}